# BIBLIOTECA PANDAS

## 1 Importação das bibliotecas

In [1]:
import pandas as pd

## 2 Criação do DataFrame a partir do CSV

In [8]:
dados = pd.read_csv(r'C:\Users\anderson51599526\Desktop\python_senac\pandas\Vendas.csv', sep=';')

## Exibição do DataFrame

In [9]:
display(dados)

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,01/12/2019,Iguatemi Campinas,Bermuda Estampa,1,"R$ 169,00","R$ 169,00"
1,01/12/2019,Iguatemi Esplanada,Bermuda Xadrez,1,"R$ 155,00","R$ 155,00"
2,01/12/2019,Norte Shopping,Bermuda,2,"R$ 150,00","R$ 300,00"
3,01/12/2019,Iguatemi Campinas,Bermuda Listrado,3,"R$ 163,00","R$ 489,00"
4,01/12/2019,Iguatemi Campinas,Bermuda Linho,3,"R$ 195,00","R$ 585,00"
5,03/12/2019,Iguatemi Campinas,Bermuda Xadrez,1,"R$ 155,00","R$ 155,00"
6,03/12/2019,Bourbon Shopping SP,Bermuda Listrado,1,"R$ 163,00","R$ 163,00"
7,03/12/2019,Bourbon Shopping SP,Bermuda Xadrez,3,"R$ 155,00","R$ 465,00"
8,03/12/2019,Bourbon Shopping SP,Bermuda Estampa,1,"R$ 169,00","R$ 169,00"
9,04/12/2019,Center Shopping Uberlândia,Bermuda Xadrez,4,"R$ 155,00","R$ 620,00"
10,04/12/2019,Iguatemi Esplanada,Bermuda,1,"R$ 150,00","R$ 150,00"
11,04/12/2019,Bourbon Shopping SP,Bermuda Estampa,2,"R$ 169,00","R$ 338,00"
12,04/12/2019,Iguatemi Campinas,Bermuda,4,"R$ 150,00","R$ 600,00"
13,05/12/2019,Iguatemi Campinas,Bermuda Liso,55,"R$ 157,00","R$ 8.635,00"
14,05/12/2019,Iguatemi Campinas,Bermuda,4,"R$ 150,00","R$ 600,00"
15,05/12/2019,Bourbon Shopping SP,Bermuda Listrado,1,"R$ 163,00","R$ 163,00"
16,06/12/2019,Iguatemi Esplanada,Bermuda Estampa,1,"R$ 169,00","R$ 169,00"
17,07/12/2019,Iguatemi Campinas,Bermuda Xadrez,1,"R$ 155,00","R$ 155,00"
18,07/12/2019,Bourbon Shopping SP,Bermuda,3,"R$ 150,00","R$ 450,00"
19,08/12/2019,Center Shopping Uberlândia,Bermuda Linho,4,"R$ 195,00","R$ 780,00"
20,08/12/2019,Iguatemi Campinas,Bermuda Estampa,4,"R$ 169,00","R$ 676,00"
21,09/12/2019,Iguatemi Esplanada,Bermuda Xadrez,3,"R$ 155,00","R$ 465,00"
22,10/12/2019,Center Shopping Uberlândia,Bermuda Listrado,1,"R$ 163,00","R$ 163,00"
23,11/12/2019,Iguatemi Campinas,Bermuda Xadrez,1,"R$ 155,00","R$ 155,00"
24,11/12/2019,Norte Shopping,Bermuda Xadrez,2,"R$ 155,00","R$ 310,00"
25,12/12/2019,Iguatemi Esplanada,Bermuda Linho,1,"R$ 195,00","R$ 195,00"
26,14/12/2019,Bourbon Shopping SP,Bermuda Linho,1,"R$ 195,00","R$ 195,00"
27,15/12/2019,Iguatemi Campinas,Bermuda Linho,3,"R$ 195,00","R$ 585,00"
28,15/12/2019,Center Shopping Uberlândia,Bermuda Xadrez,1,"R$ 155,00","R$ 155,00"
29,15/12/2019,Bourbon Shopping SP,Bermuda Listrado,2,"R$ 163,00","R$ 326,00"
30,16/12/2019,Norte Shopping,Bermuda Listrado,1,"R$ 163,00","R$ 163,00"
31,16/12/2019,Bourbon Shopping SP,Bermuda Listrado,2,"R$ 163,00","R$ 326,00"
32,17/12/2019,Norte Shopping,Bermuda Xadrez,1,"R$ 155,00","R$ 155,00"
33,17/12/2019,Iguatemi Campinas,Bermuda Listrado,4,"R$ 163,00","R$ 652,00"
34,17/12/2019,Bourbon Shopping SP,Bermuda,2,"R$ 150,00","R$ 300,00"
35,17/12/2019,Bourbon Shopping SP,Bermuda Listrado,3,"R$ 163,00","R$ 489,00"
36,18/12/2019,Norte Shopping,Bermuda Listrado,3,"R$ 163,00","R$ 489,00"
37,18/12/2019,Iguatemi Esplanada,Bermuda Estampa,1,"R$ 169,00","R$ 169,00"
38,19/12/2019,Iguatemi Campinas,Bermuda Listrado,1,"R$ 163,00","R$ 163,00"
39,19/12/2019,Center Shopping Uberlândia,Bermuda Estampa,1,"R$ 169,00","R$ 169,00"
40,19/12/2019,Center Shopping Uberlândia,Bermuda Estampa,1,"R$ 169,00","R$ 169,00"
41,19/12/2019,Norte Shopping,Bermuda,1,"R$ 150,00","R$ 150,00"
42,20/12/2019,Bourbon Shopping SP,Bermuda Listrado,2,"R$ 163,00","R$ 326,00"
43,20/12/2019,Iguatemi Esplanada,Bermuda Linho,1,"R$ 195,00","R$ 195,00"
44,21/12/2019,Norte Shopping,Bermuda Estampa,5,"R$ 169,00","R$ 845,00"
45,21/12/2019,Norte Shopping,Bermuda,4,"R$ 150,00","R$ 600,00"
46,21/12/2019,Iguatemi Esplanada,Bermuda Linho,5,"R$ 195,00","R$ 975,00"
47,22/12/2019,Iguatemi Campinas,Bermuda Xadrez,1,"R$ 155,00","R$ 155,00"
48,22/12/2019,Center Shopping Uberlândia,Bermuda Listrado,1,"R$ 163,00","R$ 163,00"
49,23/12/2019,Norte Shopping,Bermuda Linho,2,"R$ 195,00","R$ 390,00"
50,23/12/2019,Norte Shopping,Bermuda,2,"R$ 150,00","R$ 300,00"
51,24/12/2019,Center Shopping Uberlândia,Bermuda Xadrez,1,"R$ 155,00","R$ 155,00"
52,24/12/2019,Norte Shopping,Bermuda Xadrez,4,"R$ 155,00","R$ 620,00"
53,24/12/2019,Center Shopping Uberlândia,Bermuda Xadrez,4,"R$ 155,00","R$ 620,00"
54,24/12/2019,Iguatemi Campinas,Bermuda Liso,78,"R$ 157,00","R$ 12.246,00"
55,25/12/2019,Iguatemi Campinas,Bermuda Liso,100,"R$ 157,00","R$ 15.700,00"
56,26/12/2019,Bourbon Shopping SP,Bermuda Estampa,4,"R$ 169,00","R$ 676,00"

## Ler arquivo Excel

In [14]:
dados2 = pd.read_excel(r'C:\Users\anderson51599526\Desktop\python_senac\pandas\aula8nov\mercado.xlsx')

## Mostrar o DataFrame

In [15]:
display(dados2)

,MÊS,ESTADO,PRODUTO,CLIENTE,QUANT.,VALOR,TIPO DE PRODUTO,Data de Saida
0,JAN,GO,CERVEJA,CARREFOUR,5000,10000,ALCOLICO,2004-01-01
1,JAN,SP,CERVEJA,EXTRA,2000,4000,ALCOLICO,2004-01-02
2,JAN,MG,SUCO,COMPER,23000,46000,NATURAL,2004-01-03
3,JAN,GO,SUCO,EXTRA,10000,20000,NATURAL,2004-01-04
4,JAN,TO,CERVEJA,CARREFOUR,24300,48600,ALCOLICO,2004-01-05
5,JAN,TO,SUCO,COMPER,23500,47000,NATURAL,2004-01-06
6,JAN,GO,VINHO,SUPERCEI,67000,134000,ALCOLICO,2004-01-07
7,JAN,GO,VODKA,MINIBOX,34000,68000,ALCOLICO,2004-01-08
8,FEV,RJ,WISK,SUPERCEI,230000,460000,ALCOLICO,2004-02-01
9,FEV,MG,VINHO,COMPER,12000,24000,ALCOLICO,2004-02-02
10,FEV,MG,WISK,EXTRA,14000,28000,ALCOLICO,2004-02-03
11,FEV,MG,VODKA,CARREFOUR,12000,24000,ALCOLICO,2004-02-04
12,FEV,TO,SUCO,DIS.CENTRAL,30000,60000,NATURAL,2004-02-05
13,FEV,TO,CERVEJA,COMPER,20000,40000,ALCOLICO,2004-02-06
14,FEV,TO,REFRIG,CARREFOUR,34000,68000,QUIMICO,2004-02-07
15,FEV,GO,REFRIG,DIS.CENTRAL,10000,20000,QUIMICO,2004-02-08
16,FEV,SP,WISK,DIS.CENTRAL,12000,24000,ALCOLICO,2004-02-09
17,FEV,DF,SUCO,EXTRA,18000,36000,NATURAL,2004-02-10
18,FEV,RJ,CERVEJA,MINIBOX,15000,30000,ALCOLICO,2004-02-11
19,FEV,PB,PINGA,MINIBOX,13000,26000,ALCOLICO,2004-02-12
20,MAR,RS,VODKA,MAIS ATACADISTA,14000,28000,ALCOLICO,2004-03-01
21,MAR,DF,PINGA,MAIS ATACADISTA,8000,16000,ALCOLICO,2004-03-02
22,MAR,DF,VINHO,MINIBOX,2000,4000,ALCOLICO,2004-03-03
23,MAR,GO,CERVEJA,COMPER,26000,52000,ALCOLICO,2004-03-04
24,MAR,TO,SUCO,EXTRA,29800,59600,NATURAL,2004-03-05
25,MAR,DF,SUCO,CARREFOUR,30000,60000,NATURAL,2004-03-06
26,MAR,MG,REFRIG,DIS.CENTRAL,23000,46000,QUIMICO,2004-03-07
27,MAR,MG,SUCO,MINIBOX,43000,86000,NATURAL,2004-03-08
28,MAR,GO,CERVEJA,MAIS ATACADISTA,23000,46000,ALCOLICO,2004-03-09
29,ABRIL,TO,REFRIG,EXTRA,54000,108000,QUIMICO,2004-04-01
30,ABRIL,CE,VINHO,CARREFOUR,200,400,ALCOLICO,2004-04-02
31,ABRIL,TO,WISK,EXTRA,240,480,ALCOLICO,2004-04-03
32,ABRIL,CE,WISK,MAIS ATACADISTA,3000,6000,ALCOLICO,2004-04-04
33,ABRIL,DF,SUCO,MINIBOX,3400,6800,NATURAL,2004-04-05

## Criando DataFrame

In [20]:
dados3 = pd.read_excel(r'C:\Users\anderson51599526\Desktop\python_senac\pandas\aula8nov\tabela_municipios.xlsx')

## Exibir o DataFrame

In [21]:
display(dados3)

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,Código Município Completo,Nome_Município
0,11,Rondônia,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste
1,11,Rondônia,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis
2,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso
3,11,Rondônia,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste
4,11,Rondônia,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes
...,...,...,...,...,...,...,...,...,...
5565,52,Goiás,5,Sul Goiano,16,Pires do Rio,22005,5222005,Vianópolis
5566,52,Goiás,5,Sul Goiano,15,Meia Ponte,22054,5222054,Vicentinópolis
5567,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,22203,5222203,Vila Boa
5568,52,Goiás,4,Leste Goiano,12,Entorno de Brasília,22302,5222302,Vila Propício
5569,53,Distrito Federal,1,Distrito Federal,1,Brasília,108,5300108,Brasília